version: '3.9'

services:

  web:
    container_name: votedj
    command: npm run dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: votedj-image
    restart: on-failure
    ports:
      - '8080:8080'
    env_file:
      - ./webapp/.env
    networks:
      - votedjNetwork

  # backend:
  #   container_name: backend
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile.dev
  #   image: backend-image
  #   restart: on-failure
  #   ports:
  #     - '8080:8080'
  #   networks:
  #     - votedjNetwork


networks:
  votedjNetwork:
    name: votedjNetwork
    